/parte2/semana11/OOP/objCitas/build/
/parte2/semana11/OOP/objCitas/dist/
/parte2/semana12/lab7-2022-1/build/
/parte2/semana12/lab7-2022-1/dist/
/parte2/semana12/herencia/Herencia/build/
/parte2/semana12/herencia/Herencia/dist/
/parte2/semana12/LAB08_2022-1/LAB08_PREG01/build/
/parte2/semana12/LAB08_2022-1/LAB08_PREG01/dist/
/parte2/semana12/LAB08_2022-1/LAB08_PREG02/build/
/parte2/semana12/LAB08_2022-1/LAB08_PREG02/dist/
/parte2/semana13/LAB10-2022-1/LPedidos/build/
/parte2/semana13/LAB10-2022-1/LPedidos/dist/
/parte2/semana14/repaso-lab-viernes/lab10-2022-1/LAB10-PREG01/build/
/parte2/semana14/repaso-lab-viernes/lab10-2022-1/LAB10-PREG01/dist/
